.button {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 20px;
    min-width: 200px;
    text-decoration: none;
}
